.card-container {
  padding-top: 50px;
  position: relative; 
  display: inline-block;
  justify-content: space-between;
}

.card {
  width: 100%; 
}

.card--image {
  border-radius: 30px;
  flex-wrap: wrap;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.card--content {
  position: absolute; 
  bottom: 150px;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 10px;
}

.card--stats {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  margin-bottom: 10px;
}

.card--buttons {
  text-align: center;
}