.moving-text-container {
  width: 100%;
  overflow: hidden;
  
}

.moving-text {
  white-space: nowrap;
  animation: moveText 15s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}




.RunningLine {
  text-align: center;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}

.run {
  overflow: visible;
  position: absolute;
  
  padding-left: 125px;
  font-size: 10em;
  color: #f3df03;
  animation: slide 10s linear infinite;
  /* background-color: rgb(14, 232, 62); */
}

.text {
  position: relative;
  z-index: 2;
}

/* @keyframes slide {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%
} */


