.wrapper {
  display: inline-block;;
  /* justify-content: center; 
  align-items: center;  */
  position: absolute;
  top: 250px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 2;
  /* width: auto; 
  height: auto;  */
  user-select: none;
  /* background-color: blue;  */
  padding: 0;
  margin: 0;

}

.typing-demo {
  color: yellow;
  width: 16ch;
  animation: typing 2.8s steps(16), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 9rem;
  padding: 0;
  margin: 0;

}
  @keyframes typing {
    from {width: 0;}}
  @keyframes blink {
    50% {border-color: transparent;}}