.moving-text-container {
  width: 100%;
  overflow: hidden;
}

.moving-text {
  white-space: nowrap;
  animation: moveText 15s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


