body {
    transition: background-color 0.5s, color 0.5s;
  }
  
  .theme-toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .theme-toggle-button:hover {
    background-color: #ccc;
  }
  
  /* Light mode styles */
  .light-mode {
    background-color: white;
    color: black;
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: black;
    color: white;
  }